@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
        <footer class="position-absolute bottom-0" style="left:250px;right:0;">
            <div class="text-center" style="color:#0D2C99;">
                &copy; @DateTime.UtcNow.Year. IVAO Israel
            </div>
        </footer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
